## This file is used by Android Studio / Gradle.
## Copy to local.properties and set your SDK path, e.g.:
## sdk.dir=C\:\\Users\\Usuario\\AppData\\Local\\Android\\Sdk
sdk.dir=C\:\\Users\\Usuario\\AppData\\Local\\Android\\Sdk
